html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    background-color: gray;
}

.flex {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#output {
    margin: 0.5em 1em 0.2em 1em;
    border: 1px solid black;
    padding: 1em;
    overflow-y: auto;
    flex: 1 1 auto;
    background-color: white;
}

#input {
    margin: 0 1em 0.5em 1em;
    display: block;
    flex-shrink: 0;
}
